@import 'variables.scss';
/* Background */
body {
  margin: 0 auto;
  padding: 0;
  background-image: url("../assets/images/maze-sky-background.jpg");
  background-position: center top;
  background-repeat: repeat-y;
  width: 100%;
  position: relative;

}
#wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* Header */
#header-wrapper {
  width: 100%;
  height: $headerHeight;
  background-color: $headerColor;
}
header {
  margin: 0 auto;
  width: 1200px;
  color: $fontColor2;
  font-family: $sans-Serif;
  img {
    float:left;
    margin: 0 8%;
    padding: 0;
  }
  h2 {
    font-size: #headerFontSize;
    color: #fontColor3;
    margin: 0;
    padding-top: 20px;
    padding-left: 25px;
    float: left;
  }
  .link {
    font-size: $headerFontSize * .75;
  }
  a {
    color: $fontColor2;
    text-decoration: none;
  }
  a:visited {
    color: $fontColor2;
  }

}

/* Top Navigation */
#top-nav {
  margin: 0;
  padding: 0;
  display: block;
  background-color: yellow;
  ul {
    float: left;
    margin-top: 25px;
    margin-left: 1%;
    margin-right: 1%;
  }
  li {
    display:inline;
    margin: 0 15px 0 0;
  }
}

/* FAQ */
#faq, #legal-copy {
  width: 600px;
  margin: 0 auto;
  padding: 8% 8% 12% 8%;
  position: relative;
  text-align: left;
  h2 {
    text-align: center;
    font-family: $sans-Serif;
  }
}

/* Menu */
#pricing, #contact_form_wrapper {
  clear:both;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 5px;
  font-family: $sans-Serif;
  background-color: $menuColor;
  color: $fontColor3;
  position: relative;
  li {
    list-style: none;
  }
}
#pricing {
  display: none;
  text-align: center;
}
#contact_form_wrapper {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 460px;
}

#contact_form {
  width: 500px;
  margin: 0 auto;
  line-height: 2rem;
  h3 {
    text-align: center;
  }
  input {
    float: right;
    width: 300px;
    background-color: white;
  }
  text-align: left;
  padding: 5px;
}
#user_request  {
  width: 450px;
}
#inquiries:hover, #contact_dismiss:hover, #pricing_select, #pricing_dismiss, #pricing_dimiss:hover,
#ph1, #ph2, #ph3, #ph4 {
    cursor: pointer;
}

#form_send, #contact_dismiss, #pricing_dismiss {
  margin-top: 15px;
  background-color: $headerColor !important;
  color: $fontColor2;
  border: solid 1px black;
  border-radius: 15px;
}


/* Wrap the Carousel */
#wrapCarousel {
  margin: 11% 0 0 2.2%;
  padding: 0;
  position: relative;
  float: left;
  text-align: center;
  img {
    margin: 0 auto;
  }
}

/* Description Panel */
#descr-left, #descr-right {
  width: 300px;
  height: 475px;
  border-radius: 15px;
  border: solid 2px black;
  position: relative;
  margin: 5% 0 12% 0;
  padding: 4% 2%;
  background-color: $menuColor;
  color: $fontColor3;
}

#img1 {
  display: none;
}
#img2 {
  display: none;
}
#img3 {
  display: none;
}
#img4 {
  display: block;
}

#ad1 {
  display: none;
}
#ad2 {
  display: none;
}
#ad3 {
  display: none;
}
#ad4 {
  display: block;
}
#descr-left {
  float: left;
  opacity: 0;
}
#descr-right {
  float: right;
  opacity: 0;
}

#logo {
  font-family: $sans-Serif;
  color: $logoFontColor;
  font-size: $logoFontSize;
}

/* Footer */
footer {
    clear: both;
    font-size: $smallFontSize;
    color: $fontColor3;
    display: both;
    background-color: $headerColor;
    height:750px;
    width: 100%;
    padding-top: 1%;
  #copyright {
      float: left;
  }
  #legal {
    float: right;
  }
}
#footer-stuff {
  width: 1200px;
  margin: 0 auto;
  a {
    color: $fontColor2;
    text-decoration: none;
  }
  a:visited {
    color: $fontColor2;
  }

}
.address {
  clear: both;
  display: block;
  text-align: left;
}
h3 {
  font-size: 1rem;

}
input {
  font-size: 1rem;
  width: 120px;
}
#inputBox {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  width: 250px;
  height: 200px;
  display: none;
}

.phone_panel {
  display: none;
}

/* Media Query! */

@media (max-width: $device-phone) {
  #wrapper {
    margin: 0 auto;
    width: 500px;
  }

  /* Header */
  #header-wrapper {
    width: 100%;
    height: $headerHeight;
    background-color: $headerColor;
    h2 {
      padding-left: 5%;
    }
  }
  header {
    margin: 0 auto;
    width: 100%;
    color: $fontColor2;
    font-family: $sans-Serif;
    img {
      background-color: $headerColor;
      float:left;
      margin: 0 auto;
      padding: 0 28%;
    }
    h2 {
      font-size: #headerFontSize;
      color: #fontColor3;
      margin: 0;
      padding-top: 20px;
      padding-left: 25px;
      float: left;
    }
    .link {
      font-size: $headerFontSize * .75;
    }
    a {
      color: $fontColor2;
      text-decoration: none;
    }
    a:visited {
      color: $fontColor2;
    }
  }
  #top-nav {
    padding-left: 75px;
    color: $logoFontColor;
    a {
      color: $logoFontColor;
    }
    a:visited {
      color: $logoFontColor;
    }
  }

  /* Wrap the Carousel */
  #wrapCarousel {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

.phone_panel {
      display: block;
}
#phText {
  clear: both;
  margin-left: 26%;
}
.phone_buttons {
  float: left;
  margin-left: 1.5%;
  margin-right: 0;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  display: relative;
  font-family: $sans-Serif;
  font-size: $smallFontSize;
  width: 180px;
  border: solid 1px $headerColor;
  border-radius: 15px;
  background-color: $fontColor3;
}

#contact_form {
  font-size: $smallFontSize;
  width: 400px;

}

  /* Description Panel */
  #descr-left, #descr-right {
    display: none;
  }

  #img1 {
    display: none;
  }
  #img2 {
    display: none;
  }
  #img3 {
    display: none;
  }
  #img4 {
    display: block;
  }

  #ad1 {
    display: none;
  }
  #ad2 {
    display: none;
  }
  #ad3 {
    display: none;
  }
  #ad4 {
    display: block;
  }
  #descr-left {
    float: left;
    opacity: 0;
  }
  #descr-right {
    float: left;
    opacity: 0;
  }

  #logo {
    font-family: $sans-Serif;
    color: $logoFontColor;
    font-size: $logoFontSize;
  }

  #ph4 {
    margin-bottom: 15px;
  }

  #phone_descr {
    clear: both;
    background-color: $menuColor;
    display: block;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 15px;
    font-family: $serif;
    color: fontColor3;
    padding: 15px;
    width: 300px;
  }
  #faq {
    width: 300px;
  }
  #legal-copy {
    width: 300px;
    height: 1200px;
    margin-botton: 100px;
  }

  /* Footer */
  footer {
      clear: both;
      font-size: $smallFontSize;
      color: $fontColor3;
      display: both;
      background-color: $headerColor;
      height:750px;
      margin-top: 15px;
      width: 100%;
      padding-top: 1%;
      padding-left: 5%;
    #copyright {
        float: left;
    }
    #legal {
      float: left;
      margin-left: 5px;
    }
  }
  #footer-stuff {
    width: 1200px;
    margin: 0 auto;
    a {
      color: $fontColor2;
      text-decoration: none;
    }
    a:visited {
      color: $fontColor2;
    }

  }


}
