---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #aa2535;
$brand-text-color: #eee;

$nav-menu-color:   #eee;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          480px;
$on-phablet:       600px;
$on-laptop:       800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "da-slider",
        "isotope",
        "styles",
        "bootstrap.min"
;

.site-header {
  background-color: $brand-color;
  color: $brand-text-color;
}
.site-title {
  color: $brand-text-color;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.8rem;
}
.project {
  width: 45%;
  min-width: 250px;
  height: 200px;
  margin: 2%;
  float: left;
}
.rss-subscribe {
  clear: both;
}
.icon--linkedin {

    > svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.username {
  a {
    color: $brand-color;
  }
  a:visited {
    color: $brand-color;
  }
  a:hover {
    color: lighten($brand-color, 40%);
    text-decoration: none;
  }

}
.phone {
  color: $brand-color;
}

// body {
//   background: url('../paper.jpg') !important;
//   background: 10%;
// }

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
