/* Variables */
/* Colors */
/* Font Families */
/* Font Sizes */
/* Dimensions */
/* Devices */
/* Background */
body {
  margin: 0 auto;
  padding: 0;
  background-image: url("../assets/images/maze-sky-background.jpg");
  background-position: center top;
  background-repeat: repeat-y;
  width: 100%;
  position: relative; }

#wrapper {
  margin: 0 auto;
  width: 1200px; }

/* Header */
header {
  height: 75px;
  background-color: #963300;
  color: #dfc957;
  font-family: "Oswald", sans-serif; }
  header h2 {
    font-size: #headerFontSize;
    color: #fontColor3;
    margin: 0;
    padding-top: 20px;
    padding-left: 25px;
    float: left; }
  header .link {
    font-size: 1.125rem; }
  header a {
    color: #dfc957;
    text-decoration: none; }
  header a:visited {
    color: #dfc957; }

/* Top Navigation */
#top-nav {
  background-color: #963300; }
  #top-nav ul {
    float: right;
    margin-top: 25px;
    margin-left: 3%;
    margin-right: 10%; }
  #top-nav li {
    display: inline-block;
    margin: 0 15px 0 0; }

/* FAQ */
#faq {
  width: 600px;
  margin: 0 auto;
  padding: 8% 8% 12% 8%;
  position: relative;
  text-align: left; }
  #faq h2 {
    text-align: center;
    font-family: "Oswald", sans-serif; }

/* Menu */
#pricing, #contact_form_wrapper {
  clear: both;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 5px;
  font-family: "Oswald", sans-serif;
  background-color: #2f504d;
  color: #bfbf5d;
  position: relative; }
  #pricing li, #contact_form_wrapper li {
    list-style: none; }

#pricing {
  display: none;
  text-align: center; }

#contact_form_wrapper {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 460px; }

#contact_form {
  width: 500px;
  margin: 0 auto;
  line-height: 2rem;
  text-align: left;
  padding: 5px; }
  #contact_form h3 {
    text-align: center; }
  #contact_form input {
    float: right;
    width: 300px;
    background-color: white; }

#user_request {
  width: 450px; }

#inquiries:hover, #contact_dismiss:hover, #pricing_select, #pricing_dismiss, #pricing_dimiss:hover {
  cursor: pointer; }

#form_send, #contact_dismiss, #pricing_dismiss {
  margin-top: 15px;
  background-color: #963300 !important;
  color: #dfc957;
  border: solid 1px black;
  border-radius: 15px; }

#ad1, #img1, #ad2, #img2, #ad3, #img3 {
  display: none; }

/* Wrap the Carousel */
#wrapCarousel {
  margin: 11% 4.8% 0 7%;
  padding: 0;
  position: relative;
  float: left;
  text-align: center; }
  #wrapCarousel img {
    margin: 0 auto; }

/* Description Panel */
.description {
  width: 300px;
  height: 475px;
  border-radius: 15px;
  border: solid 2px black;
  position: relative;
  margin: 5% 0 12% 0;
  padding: 4% 2%;
  background-color: #2f504d;
  color: #bfbf5d;
  float: left; }

#img1 {
  display: block; }

#img2 {
  display: none; }

#img3 {
  display: block; }

#img4 {
  display: none; }

#ad1 {
  display: block; }

#ad2 {
  display: none; }

#ad3 {
  display: block; }

#ad4 {
  display: none; }

#descr-right {
  float: right;
  opacity: 1; }

#logo {
  font-family: "Oswald", sans-serif;
  color: #963300;
  font-size: 2rem;
  text-align: center; }

/* Footer */
footer {
  clear: both;
  font-size: 0.75rem;
  color: #bfbf5d;
  display: both;
  background-color: #963300;
  height: 750px;
  width: 100%;
  padding-top: 1%; }
  footer #copyright {
    float: left; }
  footer #legal {
    float: right; }

#footer-stuff {
  width: 1200px;
  margin: 0 auto; }
  #footer-stuff a {
    color: #dfc957;
    text-decoration: none; }
  #footer-stuff a:visited {
    color: #dfc957; }

/* Registration Form */
/* Legal */
h3 {
  font-size: 1rem; }

input {
  font-size: 1rem;
  width: 120px; }

#inputBox {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  width: 250px;
  height: 200px;
  display: none; }

@media (max-width: 1100px) {
  #wrapper {
    width: 800px; }

  header {
    height: 101.25px; }

  #top-nav {
    width: 100% ul;
      width-float: left; } }
@media (max-width: 763px) {
  #wrapper {
    width: 350px; }

  header {
    height: 101.25px; }

  #top-nav {
    width: 100%; }
    #top-nav ul {
      float: left; } }

/*# sourceMappingURL=style.css.map */
