/* Variables */

/* Colors */
$headerColor: rgba(129, 134, 164,.5);
$menuColor: rgb(47, 80, 77);
$logoFontColor: rgb(119, 103, 56);
$fontColor2: rgb(223, 201, 87);
$fontColor3: rgb(191, 191, 93);
$backgroundColor: rgb(249, 250, 241);

/* Font Families */
$logo: 'Fontdiner Swanky', cursive;
$sans-Serif: 'Oswald', sans-serif;
$serif: 'Quattrocento', serif;

/* Font Sizes */
$baseFontSize: 16px;
$headerFontSize: 1.2rem;
$logoFontSize: 1rem;
$menuFontSize: 1rem;
$smallFontSize: .9rem;

/* Dimensions */
$maxWidth: 1280px;
$mainHeight: 860px;
$headerHeight: 75px;
$footerHeight: 150px;

/* Devices */
$device-phone: 763px;
$device-tablet: 1100px;
$device-laptop: 2000px;
