/* Variables */

/* Colors */
$headerColor: rgb(150,51,0);
$menuColor: rgb(47, 80, 77);
$logoFontColor: rgb(150, 51, 0);
$fontColor2: rgb(223, 201, 87);
$fontColor3: rgb(191, 191, 93);
$backgroundColor: rgb(249, 250, 241);

/* Font Families */
$serif: 'Quattrocento', serif;
$sanSerif: 'Oswald', sans-serif;

/* Font Sizes */
$baseFontSize: 16px;
$headerFontSize: 1.5rem;
$logoFontSize: 2rem;
$menuFontSize: 1rem;
$smallFontSize: .75rem;

/* Dimensions */
$maxWidth: 1280px;
$mainHeight: 860px;
$headerHeight: 75px;
$footerHeight: 150px;

/* Devices */
$device-phone: 763px;
$device-tablet: 1100px;
$device-laptop: 2000px;
