<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
  <div class="home">
    <div id="#top" class="scroll-top" ></div>
    <section id="home">
        <div class="banner-container">
            <img src="images/david-portfolio2-bg.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Dedicated</h2>
                        <p>Let's dream and work together</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Experienced</h2>
                        <p>A wealth of real world solutions with hands-on coding</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Creative</h2>
                        <p>Imaginative design, well-executed, thoughtfully communicated</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Intuitive</h2>
                        <p>The truth of the matter is what really matters</p>
                        <div class="da-img"></div>
                    </div>
        <!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
        </div>
    </section>

    <!--About-->
    <section id="aboutUs" class="secPad scroll-link">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>I am David, a full-stack web developer</h2>
                <p>Hello. I live in the Chicago area.
                  I'm a full-stack web developer these days, but I've been
                  creating and coding in some form for as long as I can
                  remember. In fact, I had a career in coding full-motion
                  flight simulators used for FAA-certified pilot training.
                  Now, I'm focused on the web and applications&mdash;creating
                  designs that communicate volumes and persuade fully and
                  solutions that speak to genuine needs.</p>
                <p>OCTOBER 2015 UPDATE: I am available for full-time employment in
                  the Chicago area. Does that interest you? Let's connect today and
                  and get something started!
                  All of my contact information is <a href="#contact">here</a>.</p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                  <div class="txtHead"><i class="fa fa-database"></i>
                  <h3>Big <span class="id-color">Data</span></h3></div>
                  <p>I speak the SQL and NoSQL languages. I interact with APIs.
                     Tables, data types, and relationships. I cast real world stuff as data models to inform, illuminate,
                     solve, and teach.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                  <div class="txtHead"> <i class="fa fa-cogs"></i>
                    <h3>Control is the <span class="id-color">Backbone</span></h3></div>
                    <p>I use modern frameworks to act as the messenger between a user
                      and information at the heart of what a user cares about. With Rails,
                      Backbone, Angular, and Express, data isn't so scary anymore.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-desktop"></i>
                      <h3>Responsive <span class="id-color">Design</span></h3></div>
                      <p>I use HTML5, CSS3, and JavaScript to create a meaningful
                       interaction and effective experience for the end-user, whether
                       it be an administrator, a device operator, or a website visitor.</p>
                </div>
                <!-- end: -->
            </div>
        </div>
    </section>


    <!--Quote-->
    <section id="quote" class="bg-parlex scroll-link">
        <div class="parlex-back">
            <div class="container secPad text-center">
				<h2>First we thought the PC was a calculator. Then we found out how to turn numbers into letters with ASCII — and we thought it was a typewriter. Then we discovered graphics, and we thought it was a television. With the World Wide Web, we’ve realized it’s a brochure.</h2><h3>-Douglas Adams</h3>
            </div>
            <!--/.container-->
        </div>
    </section>
    <!--Skills-->
    <section id="skills" class="secPad white">
    	<div class="container">
        <div class="heading text-center">
                <!-- Heading -->
                <h2>My Skills</h2>
                <p>What I can do today is more than I could do yesterday.
                My most important skill is the ability to learn. Here's
                how I currently rate my comfort level:</p>
            </div>
        	<div class="row">
                <div class="col-sm-6">
                    <h2>Back-End <strong>Skills</strong></h2>
                    <p class="mrgBtm20">
                      When a website needs to be connected to an intelligent data
                      platform and secure user administration, a robust back-end
                      makes a strong partner.
                    </p>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Ruby on Rails</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Ruby/Sinatra</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">SQL</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">NoSQL</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Visual Basic</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">FORTRAN</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">C</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>Front-End <strong>Skills</strong></h2>
                    <p class="mrgBtm20">
                      To a person holding a mobile device or sitting in front of
                       a laptop, the value of what I develop is all about the
                        presentation and usability.
                    </p>
                    <div class="row">
                        <div class="col-md-2 skilltitle">HTML5/CSS3</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">JavaScript<br>jQuery</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Sass</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Bootstrap</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Backbone</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Angular</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle">Illustrator</div>
                        <div class="col-md-8">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Skills -->
<!--Experience-->
<section id="experience" class="secPad scroll-link">
  <div class="container">
       <div class="heading text-center">
            <!-- Heading -->
            <h2>Coding Experience</h2>
            <p>Mind you, I even see plotting one of my mystery novels as designing
            an algorithm, but here are some more directly relevant experiences.</p>
        </div>
    <div id="timeline"><div class="row timeline-movement timeline-movement-top">
    <div class="timeline-badge timeline-future-movement">
        <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="timeline-badge timeline-filter-movement">
        <a href="#">
            <span class="glyphicon glyphicon-time"></span>
        </a>
    </div>

</div>
<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">2015</span>
        <!-- <span class="timeline-balloon-date-month">2015</span> -->
    </div>


    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">General Assembly</span></li>
                        <li><span class="causale">Web Development Immersive Class & Projects</span> </li>
                        <!-- <li><p><small class="text-muted">6/29/2015-9/18/2015</small></p> </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"> 18/02/2014 - Present</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div> -->
</div>

<!--due -->

<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">2011</span>
        <!-- <span class="timeline-balloon-date-month">2011</span> -->
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Freelance Web Design</span></li>
                        <li><span class="causale">Used HTML, CSS, JavaScript, jQuery, and Joomla!</span> </li>
                        <!-- <li><p><small class="text-muted"> 6/1/2010 - 6/30/2011</small></p> </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"> 10/03/2013 - 18/02/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div> -->
</div>

<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">2009</span>
        <!-- <span class="timeline-balloon-date-month">2009</span> -->
    </div>
    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Self-Owned Online Marketing Business</span></li>
                        <li><span class="causale">HTML/CSS design and product listing automation</span> </li>
                        <!-- <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">1998</span>
        <!-- <span class="timeline-balloon-date-month">1998</span> -->
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">FlightSafety International</span></li>
                        <li><span class="causale">Used FORTAN and C to program full-motion, pilot-trainer flight simulators.</span> </li>
                        <!-- <li><p><small class="text-muted">1988 - 1998</small></p> </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Iowa State University</span></li>
                        <li><span class="causale">Used MATLAB to compute non-linear optimal control of High Angle of Attack Research Vehicle</span> </li>
                        <!-- <li><p><small class="text-muted"> 11/01/2010 - 10/03/2013</small></p> </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
</div>
</div>

</section>

    <div class="page-content" id="portfolio" class="scroll-link">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>


    <!-- Scripts -->
    <!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
    <script src="js/modernizr-latest.js"></script>
    <script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="js/jquery.nav.js" type="text/javascript"></script>
    <script src="js/jquery.cslider.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/owl-carousel/owl.carousel.js"></script>
    <script src="js/gallery.js" type="text/javascript">

    </script>

  </body>

</html>
